/* vietnamese */
@font-face {
	font-family: 'VT323';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/VT323-viatnamese.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
	font-family: 'VT323';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/VT323-latin-ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'VT323';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/VT323-latin.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  
 body, h1, h2, h3, h4, p, a {
	 color: #e0e2f4;
}
 body, p {
	 font: normal 20px/1.25rem 'VT323', monospace;
}
 h1 {
	 font: normal 2.75rem/1.05em 'VT323', monospace;
}
 h2 {
	 font: normal 2.25rem/1.25em 'VT323', monospace;
}
 h3 {
	 font: lighter 1.5rem/1.25em 'VT323', monospace;
}
 h4 {
	 font: lighter 1.125rem/1.2222222em 'VT323', monospace;
}
 body {
	 background: #0414a7;
}
 .container {
	 width: 90%;
	 margin: auto;
	 max-width: 640px;
}
 .bsod {
	 padding-top: 10%;
}
 .bsod .neg {
	 text-align: center;
	 color: #0414a7;
}
 .bsod .neg .bg {
	 background: #aaa;
	 padding: 0 15px 2px 13px;
}
 .bsod .title {
	 margin-bottom: 50px;
}
 .bsod .nav {
	 margin-top: 35px;
	 text-align: center;
}
 .bsod .nav .link {
	 text-decoration: none;
	 padding: 0 9px 2px 8px;
}
 .bsod .nav .link:hover, .bsod .nav .link:focus {
	 background: #aaa;
	 color: #0414a7;
}
.hidden {
	opacity:0;
  }
  .console-container {
   
	font-family:'VT323';
	font-size:4em;
	text-align:center;
	height:200px;
	width:600px;
	display:block;
	position:absolute;
	color:white;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
  }
  .console-underscore {
	 display:inline-block;
	position:relative;
	top:-0.14em;
	left:10px;
  }
  .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10%;
  }